*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(218, 228, 248);
}
#thecode{
    border-radius: 10px;
}
#improve{
    font-weight: 700;
    color: hsl(218,44%,22%);
    font-size:x-large;
    margin: 20px 0;
}
.scanit{
    color: rgba(181, 186, 192, 0.788);
    font-size: 16px;
}
/* .attribution {
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);  */
/* } */
.codeWords{
    background-color: white;
    width: 330px;
    height: 500px;
    text-align: center;
    padding-top: 10px;
    border-radius: 15px;
    margin: 100px auto;
}
p{
    font-family:Outfit;
}